body{
    margin:1em auto;
    font:1.2em/1.62 sans-serif;
    background-color: #b7c8df;
    font-family: 'Open Sans', sans-serif;

}

article{
    background-color: white;
    max-width:40em;
    border-radius: 20px;
    padding: 20px 70px 10px 70px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3 {
    line-height:1.0;
    font-family: 'Open Sans', sans-serif;
}
@media print{
    body{
        max-width:none
    }
}

pre {
    background-color: #f0f0f0;
}

pre, code {
    white-space: pre-line;
}


img {
    max-width: 100%;
    min-width: 300 px;
    height: auto;
    border-radius: 20px;
}
